RegexHero/Service References/ScoreBoardService/ScoreBoardService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScoreBoardService" />
  <xs:import schemaLocation="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="ServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScoreBoardService" minOccurs="0" name="ServiceVersionResult" nillable="true" type="q1:ScoreBoardVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="game" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScoreBoardService" minOccurs="0" name="GameIdResult" nillable="true" type="q2:GameId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScoreBoardService" minOccurs="0" name="version" nillable="true" type="q3:ScoreBoardVersion" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScoreBoardService" minOccurs="0" name="gameid" nillable="true" type="q4:GameId" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitScoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveScores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScoreBoardService" minOccurs="0" name="verion" nillable="true" type="q5:ScoreBoardVersion" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScoreBoardService" minOccurs="0" name="gameid" nillable="true" type="q6:GameId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RetrieveScoresResult" nillable="true" type="q7:ArrayOfTupleOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>