RegexHero/Service References/ScoreBoardService/ScoreBoardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScoreBoardService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScoreBoardService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ScoreBoardVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreBoardVersion" nillable="true" type="tns:ScoreBoardVersion" />
  <xs:complexType name="GameId">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameId" nillable="true" type="tns:GameId" />
</xs:schema>