RegexHero/Service References/ScoreBoardService/ScoreBoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScoreBoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScoreBoardService" />
      <xsd:import schemaLocation="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScoreBoardService1_ServiceVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVersion" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_ServiceVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_GameId_InputMessage">
    <wsdl:part name="parameters" element="tns:GameId" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_GameId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameIdResponse" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_SubmitScore_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitScore" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_SubmitScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_RetrieveScores_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveScores" />
  </wsdl:message>
  <wsdl:message name="IScoreBoardService1_RetrieveScores_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveScoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IScoreBoardService1">
    <wsdl:operation name="ServiceVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreBoardService1/ServiceVersion" message="tns:IScoreBoardService1_ServiceVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScoreBoardService1/ServiceVersionResponse" message="tns:IScoreBoardService1_ServiceVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GameId">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreBoardService1/GameId" message="tns:IScoreBoardService1_GameId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScoreBoardService1/GameIdResponse" message="tns:IScoreBoardService1_GameId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreBoardService1/SubmitScore" message="tns:IScoreBoardService1_SubmitScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScoreBoardService1/SubmitScoreResponse" message="tns:IScoreBoardService1_SubmitScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveScores">
      <wsdl:input wsaw:Action="http://tempuri.org/IScoreBoardService1/RetrieveScores" message="tns:IScoreBoardService1_RetrieveScores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScoreBoardService1/RetrieveScoresResponse" message="tns:IScoreBoardService1_RetrieveScores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScoreBoardService1" type="tns:IScoreBoardService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceVersion">
      <soap:operation soapAction="http://tempuri.org/IScoreBoardService1/ServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameId">
      <soap:operation soapAction="http://tempuri.org/IScoreBoardService1/GameId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <soap:operation soapAction="http://tempuri.org/IScoreBoardService1/SubmitScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveScores">
      <soap:operation soapAction="http://tempuri.org/IScoreBoardService1/RetrieveScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScoreBoardService">
    <wsdl:port name="BasicHttpBinding_IScoreBoardService1" binding="tns:BasicHttpBinding_IScoreBoardService1">
      <soap:address location="http://scoreboard-peternied.cloudapp.net:8080/ScoreBoardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>